@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
$color-common: #1499ff;
$font-common:'Indie Flower',
cursive;
$font-header: 'Rowdies',
cursive;