@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}
body section.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  gap: 15px;
  place-content: center;
  text-align: center;
  font: 100% "Rowdies", cursive;
}
body section.container div.container-testimonials {
  max-width: 1000px;
  height: 33rem;
  padding: 20px;
  display: grid;
  grid-template-columns: auto;
  place-content: center;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  /* The dots/bullets/indicators */
}
body section.container div.container-testimonials p {
  color: #1499ff;
  font-size: 18px;
  margin-top: 4rem;
}
body section.container div.container-testimonials div.container-one-testim {
  position: relative;
  display: none;
  width: 600px;
  height: auto;
  padding-bottom: 15px;
}
body section.container div.container-testimonials div.container-one-testim div.imgs img {
  border-radius: 50%;
  margin-top: 20px;
}
body section.container div.container-testimonials div.container-one-testim div.text {
  font: 100% "Indie Flower", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 7rem;
  text-align: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
body section.container div.container-testimonials div.container-one-testim div.quotes {
  margin: 15px 0;
}
body section.container div.container-testimonials div.container-one-testim div.name {
  font-size: 10px;
}
body section.container div.container-testimonials div.buttons {
  width: 600px;
  height: 50px;
  position: absolute;
  top: 54%;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
}
body section.container div.container-testimonials div.buttons .prev,
body section.container div.container-testimonials div.buttons .next {
  position: absolute;
  cursor: pointer;
  padding: 6px 12px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 50%;
  -webkit-user-select: none;
  background-color: rgb(217, 217, 217);
}
body section.container div.container-testimonials div.buttons .next {
  right: 0;
}
body section.container div.container-testimonials div.buttons .prev {
  left: 0;
}
body section.container div.container-testimonials div.buttons .prev:hover,
body section.container div.container-testimonials div.buttons .next:hover {
  background-color: #1499ff;
}
body section.container div.container-testimonials span.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #dcd6d6;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
body section.container div.container-testimonials span.active,
body section.container div.container-testimonials span.dot:hover {
  background-color: #1499ff;
}
body div.license {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */